body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
 .container{
  background-color: lightgray;
  height: 600px;
  width: 400px;
  font-weight: 700;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
 }
.xp{
  
}
 .total{
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  letter-spacing: 2px;
  border: none;
  margin-top: 10px;
 
 }
 img{
  width: 20px;
  height: 20px;
 }

.total_xp{
  background-color: gold;
  width: 50px;
  height: 70px;
  color: white;
}


 .add{
  display: flex;
  flex-direction: column;
 }

 #text{
  height: 50px;
  border: none;
  width: 300px;
 }

 h2{
  font-size: 30px;
  font-weight: bold;
 }

 #todo{
  /* margin-left: 180px;
  border: none; */
  cursor: pointer;
}

.total > div:last-child {
  margin-left: auto;
}



